.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #FF8C00, #FF4500, #FFA500);
    color: white;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 80%;
}

.logo-img {
    width: 100px;
    border-radius: 50px;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.header-img {
    width: 100%;
}

.black {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  background-color: black;
  padding: 7px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.blackTexto {
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    color: #ff0000; 
    animation: scroll 10s linear infinite, blink 0.5s infinite alternate;
    text-shadow: 2px 2px 8px rgba(255, 0, 0, 0.8);
  }
  
  @keyframes scroll {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(-100%);
    }
  }
  
  @keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
  
  }