
.products {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    background: linear-gradient(
    45deg,
    #0e0e0e 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #0e0e0e 50%,
    #0e0e0e 75%,
    #1a1a1a 75%,
    #1a1a1a
  );
  background-size: 8px 8px;
    color: white;
    font-family: "Roboto", sans-serif;
}

.filter-search-container {  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
    padding: 2%;
    width: 20%;
    background: linear-gradient(135deg, #FF8C00, #FF4500);
}


.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}