.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background: linear-gradient(135deg, #FF8C00, #FF4500, #FFA500);
    color: white;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}