
.container{
    font-family: "Roboto", sans-serif;
    display: flex;
    height: 100vh;
    overflow: auto;
    background: linear-gradient(
    45deg,
    #0e0e0e 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #0e0e0e 50%,
    #0e0e0e 75%,
    #1a1a1a 75%,
    #1a1a1a
  );
  background-size: 8px 8px;
    align-items: center;
    padding: 20px;
    
}
.productCard{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    color: white;
    gap: 60px;
    height: 80%;
    padding: 20px;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    
}

.productImg{
    height: 80%;
    border-radius: 20px;
}

.productBtn{
    background-color: #34c934;
    color: #fff;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    font-size: 1.5rem;
}

.productBtn:hover{
    background-color: #ff0000;
    cursor: pointer;
}